name: CI

on:
  push:
    branches: [main]

concurrency:
  group: docker-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  packages: write

jobs:
  docker-latest:
    uses: ./.github/workflows/build-docker.yml
    with:
      tag-strategy: latest
    secrets: inherit

  build-snapshot:
    uses: ./.github/workflows/build-binaries.yml
    with:
      tag-strategy: snapshot
